
<h1> Welcome to our restaurant! </h1>
<h2>Please feel free to order a burger or devour any that are available!</h2>
<div id="logo">
  <img src="static/assets/img/burgerLogo.jpg" alt="" class="logo">
</div>
{{#each burger}}
<span class="card">
	<span> <i>{{burger_name}}</i>  </span> 
	<br>
	<button class="change-eaten" data-id="{{this.id}}" data-eaten="{{devoured}}">
		{{#if devoured}}Re-Order Burger!{{else}}Eat the Meat!{{/if}}
	</button> 
	<br>
	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</span>
{{/each}}
<div> </div>
<form class="create-form">
  <hr>
  <h2>Ready to order a Burger?</h2>
  <div class="form-group">
    <label for="nameinput">Burger Name:</label>
    <input type="text" id="nameinput" name="name">
  </div>

  <div class="form-group">
    <label for="eaten">Eat it now?</label>
    <br>
    <input type="radio" name="eaten" value="1" checked> DEVOUR IT!</inpu>
    <br>
    <input type="radio" name="eaten" value="0"> Save for later!
  </div>

  <button class="create-burger" type="submit">Order Burger</button>
</form>